:root{
    --verdePrincipal: #02cc96;
    --verdeSecundario: #adf7e3;
    --verdeTerciario: #e2fcf5;
    --verdeGlobos:  #8ad6b7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--verdeTerciario);
}
/********************************Barra de navegacion  *******************/
header{
    background-color: var(--verdePrincipal) ;
    color: #fff;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 999;
}
nav{
    /* background-color: violet; */
    height: 100%;
}
nav ul{
    /* background-color: wheat; */
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    /* background-color: green; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: rgb(255, 169, 251); */
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    transition: background .3s ease;
}
nav ul li a:hover{
    background-color: #6eedcb;
}
/**********************Cuerpo  ************************/
main{
    /* background-color: pink; */
    display: flex;
    margin-top: 60px;
}
/***********************BARRA DE PUBLICACION  ******************/
.contenedor{
    background-color: transparent;
    padding: 20px 0 0;
    position: relative;
    z-index: 998;
    border-radius: 0 0 10px 10px;
}
/* Seccion para el boton de agregar historias */
.contenedor-btn-historias{
    background-color: transparent;
    min-width: 450px;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}
.publicar-historia-btn{
    background-color: var(--verdeSecundario);
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 0 25px 25px 0;
    z-index: 999;
    left: 0;
    top: calc(50% - 25px);
    
}
.publicar-historia-btn .agregar-btn{
    background-color: var(--verdePrincipal);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 100ms ease;
}
.publicar-historia-btn .agregar-btn:hover{
    background-color: var(--verdeTerciario);
}
.publicar-historia-btn .agregar-btn:hover i{
    color: var(--verdePrincipal);
    transform: rotate(180deg);
}
.publicar-historia-btn .agregar-btn:active{
    background-color: var(--verdeGlobos);
}
.publicar-historia-btn .agregar-btn i{
    color: #fff;
    font-size: 30px;
    transition: transform 200ms ease;
}
/* Seccion de historias */
.cards{
    min-width: 450px;
    max-width: 600px;
    background-color: var(--verdeTerciario);
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap; /*Para que no de espacios por debajo*/
    padding: 10px 10px 0 10px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 8px 11px -3px rgba(0,0,0,0.45);
    transition: min-width 300ms ease;
    position: relative;
}
.cards::-webkit-scrollbar{
    display: none;
}


.cards .card{
    width: 150px;
    height: 100%; /*224px*/
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.cards .card:hover img{
    transform: scale(1.2);
}
.cards .card a{
    width: 100%;
    height: 100%;
    display: flex;
}
.cards .card img{
    width: 100%;
    height: 100%; /*auto*/
    object-fit: cover;
    transition: transform 300ms ease;
    
}
.cards .card h4{
    width: 100%;
    font-weight: 300;
    position: absolute;
    padding: 50px 5px 0;
    left: 0;
    bottom: 0;
    color: #fff;
-webkit-box-shadow: inset 0px -28px 12px -6px rgba(0,0,0,0.6); 
box-shadow: inset 0px -28px 12px -6px rgba(0,0,0,0.6);
}
/* Contenedor de publicar texto */
.max-width.contenedor-publicar{
    background-color: var(--verdeSecundario);
    margin-top: 20px;
    border-radius: 10px;
    padding: 0 20px;
    transition: min-width 300ms ease;
}

input{
    border: 1px solid gray;
    background-color: #eeeeee;
    width: 260px;
    height: 25px;
    border-radius: 15px;
    outline: none;
    padding: 0 10px;
}
.contenedor #btn-publicar{
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    margin:0 10px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    transition: background .200s ease;
    margin: 10px 0;
}
.contenedor #btn-publicar:hover{
    background-color: var(--verdeTerciario);
}
.contenedor #btn-publicar:active{
    background-color: var(--verdePrincipal);
}
/*************************ASIDE IZQUIERDO  *********************/
aside{
    background-color: var(--verdeSecundario);
    min-width: 250px;
    max-width: 350px;
    height: 557px;
    border-radius: 0 10px 10px 0;
    position: sticky;
    top: 60px;
    overflow: auto;
    -webkit-box-shadow: -10px 5px 10px -4px rgba(0,0,0,0.46); 
box-shadow: -10px 5px 10px -4px rgba(0,0,0,0.46);
}
aside::-webkit-scrollbar{
    width: 8px;
    
}
/*ruta scroll*/
aside::-webkit-scrollbar-track{
    background-color: var(--verdeTerciario);
}
/*barra scroll */
aside::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 5px;
}
aside:hover::-webkit-scrollbar-thumb{
    background-color: var(--verdePrincipal);
}
.background-header{
    background-color: var(--verdeGlobos);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 900;
}
.background-header-publicacion{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: var(--verdeGlobos);
    z-index: 900;

}
section{
    margin:15px 30px;
    padding: 30px 15px;
    background-color: var(--verdeTerciario);
    font-size: 13px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.46); 
box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.46);
}
section h3{
    margin-bottom: 10px;
}
/*********************** Seccion de publicacione ************************/
.contenedor-principal{
    /* background-color: red; */
    width: 100%;
}
.max-width{
    /* background-color: rebeccapurple; */
    min-width: 450px;
    max-width: 600px;
    margin: 0 auto;
}

.publicacion{
    margin: 10px auto 0;
    background-color: var(--verdeSecundario);
    padding: 20px;
    animation-name: publicacion;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: left;
    border-radius: 10px;
    transition: all 300ms ease;
    word-wrap: break-word;
}
.publicacion .cabecera{
    /* background-color: turquoise; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 35px;
    margin-bottom: 10px ;
}
.publicacion h4{
    font-weight: 300;
}
.publicacion span{
    font-size: 12px;
    color: #7c7c7c;
}
.publicacion p{
    background-color:var(--verdeGlobos);
    padding: 15px;
    border-radius: 10px;
    position: relative;
}
.publicacion p::before{
    content: "" ;
    width: 0px;
    height: 0px;
    border: 8px solid transparent;
    border-bottom-color:  var(--verdeGlobos);
    position: absolute;
    top: -15px;
    left: 15px;
}

@keyframes publicacion{
    from{
        transform: translateY(-100%);
    }to{
        transform: translateY(0)
    }
}

@media only screen and (max-width: 1000px){
    aside{
        display: none;
    }
}

@media only screen and (max-width: 650px){
    body{
        /* background-color: rebeccapurple; */
    }
    .cards,
    .contenedor-btn-historias{
        min-width: 100%;
    }
    .contenedor-principal{
        min-width: 100%;
    }
    .contenedor-principal .contenedor{
        min-width: 100%;
    }
    .max-width{
        min-width: 100%;
        /* background-color: red; */
    }
    .max-width input{
        margin-top: 10px;
        width: 100%;
        height: 30px;
    }
    .max-width .publicacion{
        /* background-color: plum; */
        margin: 10px 5px;
        padding: 0 10px 10px;
        border-radius: 5px;
    }
    .max-width .publicacion p{
        font-size: 13px;
        font-weight: 500;
        border-radius: 5px;
    }
}